.App {
  text-align: center;
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
  font-weight: 700; /* Font weight 700 (bold) */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.App p {
  font-size: 1rem;
}
